html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0px;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
}

.app, .root {
  height: 100%;
  width: 100%;
}

.neovim-screen {
  height: 100%;
  width: 100%;
}

.neovim-screen pre {
  margin: 0px;
}

.neovim-cursor {
  width: 0.5em;
  background-color: white;
  padding: 0px;
  border: 0px;
  outline: none;
  vertical-align: middle;
}
.neovim-cursor.insert {
  width: 1px;
  color: transparent;
}
.neovim-cursor.normal {
  width: 0.5em;
  color: black;
}

.font-test {
  position:absolute;
  right:100%;
  bottom:100%;
}
.font-test pre {
  margin: 0px;
}
