@font-face {
  font-family: "Source Han Code JP";
  src: url("../resources/fonts/SourceHanCodeJP/SourceHanCodeJP-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Source Han Code JP";
  font-weight: bold;
  src: url("../resources/fonts/SourceHanCodeJP/SourceHanCodeJP-Bold.otf") format("opentype");
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0px;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  font-size: 12px;
}

.app, .root {
  height: 100%;
  width: 100%;
}

.root {
  display flex;
}

.tabs {
  height: 30px;
}

.neovim-screen {
  width: 100%;
  flex: auto;
}

.neovim-screen pre {
  font-family: "Source Han Code JP", monospace;
  margin: 0px;
}

.neovim-cursor {
  width: 1px;
  color: transparent;
  background-color: white;
  padding: 0px;
  border: 0px;
  outline: none;
  vertical-align: middle;
}
.block-cursor {
  color: black;
  background-color: white;
  display: inline-block;
}

.font-test {
  position:absolute;
  right:100%;
  bottom:100%;
}
.font-test pre {
  margin: 0px;
}

.toolbar.toolbar-header .for-inset {
  flex: none;
  border: 0;
  border-right: 1px solid #989698;
}
