<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>ASP</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>asa</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ASP</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>HTML (ASP)</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>asp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ASP</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>ActionScript</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>as</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ASP</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>Batch File</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bat</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>BATCH</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>NAnt Build File</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>build</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>NANT</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>C#</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cs</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>C#</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>C++</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>c++</string>
				<string>cc</string>
				<string>cpp</string>
				<string>cxx</string>
				<string>h</string>
				<string>h++</string>
				<string>hpp</string>
				<string>hxx</string>
				<string>inl</string>
				<string>ipp</string>
				<string>cc</string>
				<string>cpp</string>
				<string>cp</string>
				<string>cxx</string>
				<string>c++</string>
				<string>C</string>
				<string>h</string>
				<string>hh</string>
				<string>hpp</string>
				<string>h++</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>C++</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>C</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>c</string>
				<string>h</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>C</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>CSS</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>css</string>
				<string>css.erb</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>CSS</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>D</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>d</string>
				<string>di</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>D</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>Erlang</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>erl</string>
				<string>hrl</string>
				<string>Emakefile</string>
				<string>emakefile</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ERLNG</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>HTML (Erlang)</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>yaws</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>YAWS</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>Graphviz (DOT)</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dot</string>
				<string>DOT</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>DOT</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>Groovy</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>groovy</string>
				<string>gvy</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>GROOVY</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>HTML</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>html</string>
				<string>htm</string>
				<string>shtml</string>
				<string>xhtml</string>
				<string>phtml</string>
				<string>inc</string>
				<string>tmpl</string>
				<string>tpl</string>
				<string>ctp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>HTML</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>Haskell</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hs</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>HASKELL</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>Literate Haskell</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lhs</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>HASKELL</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>Java Server Page (JSP)</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jsp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>JSP</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>Java</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>java</string>
				<string>bsh</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>JAVA</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>Java Properties</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>properties</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>JAVA</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>JSON</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>json</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>JSON</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>JavaScript</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>js</string>
				<string>htc</string>
				<string>jsx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>JS</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>BibTeX</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bib</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>BibTeX</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>LaTeX</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tex</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>TeX</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>TeX</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sty</string>
				<string>cls</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>Lisp</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lisp</string>
				<string>scm</string>
				<string>ss</string>
				<string>lisp</string>
				<string>cl</string>
				<string>l</string>
				<string>mud</string>
				<string>el</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LISP</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>Lua</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lua</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LUA</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>Makefile</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>GNUmakefile</string>
				<string>makefile</string>
				<string>Makefile</string>
				<string>OCamlMakefile</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>MAKEFILE</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>Markdown</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mdown</string>
				<string>markdown</string>
				<string>markdn</string>
				<string>md</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>MARKDOWN</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>MATLAB</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>matlab</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>MATLAB</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>OCaml</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ml</string>
				<string>mli</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>OCAML</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>OCamllex</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mll</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>OCAML</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>OCamlyacc</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mly</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>OCAML</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>Objective-C++</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mm</string>
				<string>M</string>
				<string>h</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>OBJ-C++</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>Objective-C</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m</string>
				<string>h</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>OBJ-C</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>PHP</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>php</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PHP</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>Perl</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pl</string>
				<string>pm</string>
				<string>pod</string>
				<string>t</string>
				<string>PL</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PERL</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>Python</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>py</string>
				<string>rpy</string>
				<string>pyw</string>
				<string>cpy</string>
				<string>SConstruct</string>
				<string>Sconstruct</string>
				<string>sconstruct</string>
				<string>SConscript</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PYTHON</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>Regular Expressions (Python)</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>re</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>REGEXP</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>R</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>R</string>
				<string>r</string>
				<string>s</string>
				<string>S</string>
				<string>Rprofile</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>R</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>Rd (R Documentation)</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rd</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>R</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>HTML (Rails)</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rhtml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>RAILS</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>Ruby on Rails</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rxml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>RAILS</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>SQL (Rails)</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>erbsql</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>RAILS</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>Regular Expression</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>re</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>REGEXP</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>Ruby</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rb</string>
				<string>rbx</string>
				<string>rjs</string>
				<string>Rakefile</string>
				<string>rake</string>
				<string>cgi</string>
				<string>fcgi</string>
				<string>gemspec</string>
				<string>irbrc</string>
				<string>capfile</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>RUBY</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>SQL</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sql</string>
				<string>ddl</string>
				<string>dml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>SQL</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>Scala</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>scala</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>SCALA</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>Shell Script (Bash)</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sh</string>
				<string>ss</string>
				<string>bashrc</string>
				<string>bash_profile</string>
				<string>bash_login</string>
				<string>profile</string>
				<string>bash_logout</string>
				<string>.textmate_init</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>SHELL</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>HTML (Tcl)</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tcl</string>
				<string>adp</string>
				<string>inc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>TCL</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>Tcl</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tcl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>TCL</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>Plain Text</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>TEXT</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>Textile</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>textile</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>TEXTILE</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>XML</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xml</string>
				<string>xsd</string>
				<string>xslt</string>
				<string>svg</string>
				<string>rss</string>
				<string>vcproj</string>
				<string>tmLanguage</string>
				<string>tmTheme</string>
				<string>tmSnippet</string>
				<string>tmPreferences</string>
				<string>dae</string>
				<string>xml</string>
				<string>tld</string>
				<string>jsp</string>
				<string>pt</string>
				<string>cpt</string>
				<string>dtml</string>
				<string>rss</string>
				<string>opml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>XSL</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xsl</string>
				<string>xslt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>XSL</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>YAML</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>yaml</string>
				<string>yml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>YAML</string>
		</dict>
	</array>
</dict>
</plist>
